.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  padding-top: 120px;
  background: #111;
  color: white;
}

.hero-image img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;

  box-shadow: 0 0 40px rgba(0, 188, 212, 0.4);
  transition: 0.3s ease;
}

.hero-image img:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 60px rgba(0, 188, 212, 0.7);
}
.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero h1 span {
  color: #00bcd4;
}

.hero h2 {
  font-weight: 400;
  margin-bottom: 20px;
  color: #aaa;
}

.hero p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #00bcd4;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.btn-outline {
  background: transparent;
  border: 2px solid #00bcd4;
  color: #00bcd4;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}