/* MOBILE FIRST */

.about {
  padding: 60px 5%;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  min-height: auto;
}

.about-container {
  width: 100%;
  text-align: center;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #00bcd4;
}

.about p {
  margin-bottom: 20px;
  line-height: 1.8rem;
  color: #ccc;
  width: 100%;
  margin: auto;
}

.about-skills {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.skill-group h3 {
  margin-bottom: 10px;
  color: #00bcd4;
  text-align: center;
}

.skill-group span {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 6px 14px;
  background: #0f0f0f;
  border-radius: 20px;
  border: 1px solid #00bcd4;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.skill-group span:hover {
  background: #00bcd4;
  color: #0f0f0f;
  cursor: pointer;
}

/* DESKTOP */
@media (min-width: 768px) {
  .about {
    padding: 100px 10%;
    height: 100vh;
  }

  .about h2 {
    font-size: 2.8rem;
  }

  .about p {
    width: 65vw;
    line-height: 2rem;
  }

  .about-skills {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}