.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: #0a0a0a;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10%;

  z-index: 1000;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.btn-cv {
  background: #00bcd4;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.btn-cv:hover {
  opacity: 0.8;
}

.logo {
  height: 60px;   /* controla o tamanho */
  width: auto;    /* mantém proporção */
}

.menu li {
  position: relative;
  cursor: pointer;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  border-radius: 20px;
  background-color: #00bcd4;
  transition: width 0.3s ease;
}

.menu li:hover::after {
  width: 100%;
}