.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background: #0a0a0a;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10%;

  z-index: 1000;
}

.menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.btn-cv {
  background: #00bcd4;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
}

.btn-cv:hover {
  opacity: 0.8;
}

.logo {
  height: 60px;   /* controla o tamanho */
  width: auto;    /* mantém proporção */
}

.menu li {
  position: relative;
  cursor: pointer;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.menu li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  border-radius: 20px;
  background-color: #00bcd4;
  transition: width 0.3s ease;
}

.menu li:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #0a0a0a;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
  }

  .menu.active {
    display: flex;
  }

  .btn-cv {
    position: fixed;
    bottom: 20px;
    right: 20px;

    z-index: 2000;

    padding: 12px 16px;
    border-radius: 50px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }
}